.cta {
	position: relative;
	transition: all 0.2s ease;
	padding-right: 12px;
	padding-left: 12px;
}
.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: #f3f3f3;
	width: 42px;
	height: 42px;
	transition: all 0.3s ease;
}
.cta span,
i {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	text-transform: uppercase;
	vertical-align: middle;
}

.cta:hover span {
	display: unset;
	margin-top: auto;
	margin-bottom: auto;
}

.cta:hover i {
	color: #fff !important;
}

.cta:hover:before {
	width: 100%;
	background: #0563bb !important;
	display: block;
}
.cta:active {
	transform: scale(0.96);
}

.cta-active {
	width: 100%;
	position: relative;
	padding-left: 12px;
	padding-right: 12px;
	display: flex;
	height: 42px;
}

.cta-active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: #0563bb;
	width: 42px;
	height: 42px;
}

.cta-active i {
	color: #fff !important;
	margin-top: auto;
	margin-bottom: auto;
}
